<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Edit course data</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/courses/{id}(id=${course.getId()})}" th:object="${course}">
    <label for="name">Enter new course name:</label>
    <input type="text" th:field="*{name}" id="name">
    <br/>
    <label for="teacher">Enter new teacher id:</label>
    <input type="text" th:field="*{teacher.id}" id="teacher">
    <br/>
    <input type="submit" value="Edit">
</form>

</body>
</html>