<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Edit student data</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/students/{id}(id=${student.getId()})}" th:object="${student}">
    <label for="firstName">Enter new student firstname:</label>
    <input type="text" th:field="*{firstName}" id="firstName">
    <br/>
    <label for="lastName">Enter new student lastname:</label>
    <input type="text" th:field="*{lastName}" id="lastName">
    <br/>
    <label for="age">Enter new student age:</label>
    <input type="text" th:field="*{age}" id="age">
    <br/>
    <label for="group">Enter new group id:</label>
    <input type="text" th:field="*{group.id}" id="group">
    <br/>
    <input type="submit" value="Edit">
</form>

</body>
</html>