<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous">

<body>

<h2>University</h2>

<a href="/groups">Groups data</a> <br>
<a href="/courses">Courses data</a> <br>
<a href="/teachers">Teachers data</a> <br>
<a href="/students">Students data</a> <br>

</body>

</html>