<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous">

<body>

<h2>University</h2>

<form th:action="@{/groups}">
    <button type="submit">Groups table</button>
</form>

<form th:action="@{/courses}">
    <button type="submit">Courses table</button>
</form>

<form th:action="@{/teachers}">
    <button type="submit">Teachers table</button>
</form>

<form th:action="@{/students}">
    <button type="submit">Students table</button>
</form>

</body>

</html>