<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

<body>

<h2>All courses</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Teacher</th>
            <th>Operations</th>
        </tr>
    </thead>

    <tbody>
        <tr th:each="course: ${allCourses}">
            <td th:text="${course.getId()}" />
            <td th:text="${course.getName()}"/>
            <td th:text="${course.getTeacher().getFirstName() + ' ' + course.getTeacher().getLastName()}"/>
            <td>
                <form th:action="@{/courses/{id}(id=${course.getId()})}">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
    </tbody>
</table>

<br>
<a href="/">Back to main page</a>

</body>

</html>